body {
	margin: 0;
	background-color: #ffffff;
}
.map {
	width: 100vw;
	height: 100vh;
}
.leaflet-top {
	display: flex;
	align-items: flex-start;
}
.leaflet-control-search .search-input {
	width: 200px;
}